*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.blog{
	padding: 90px 90px 210px 90px;
	max-width: 1600px;
	min-height: 1400px;
	background: #e2e7ec;
	margin: auto;
}
.flex-container-1, 
.flex-container-2{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 1120px;
	padding: 10px;
	border: 1px solid red;
}
.block-1,
.block-2,
.block-3,
.block-4,
.block-5{
	background: #fff;
	margin: 10px;
}

.block-1{
/*	background-image: url(../src/img1.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 540px;*/
	flex: 2;
}
.block-2{
	flex: 1;
}
.flex2{
	flex: 1;
}
.flex3{
	flex: 1;
}
.flex4{
	flex: 1;
}
