* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

footer {
  margin: 0 auto;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.contacts {
  display: block;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contacts__title {
  width: 320px;
  margin: 0 auto 25px;
}
.contacts__title h2 {
  padding-top: 10%;
  font-size: 35px;
}
.contacts__title p {
  padding-top: 10px;
  font-size: 14px;
  color: #3C3C3C;
  font-weight: normal;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__container_form {
  min-width: 320px;
}
.contacts__container .form__row .form-control {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  background: rgba(0, 196, 196, 0.5);
  border: none;
  border-left: 4px solid rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: none;
  position: relative;
}
.contacts__container input::-webkit-input-placeholder {
  position: absolute;
  top: 7px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contacts__container input::-moz-placeholder {
  position: absolute;
  top: 7px;
  width: 100%;
  box-sizing: border-box;
}
.contacts__container input:-ms-input-placeholder {
  position: absolute;
  top: 7px;
  width: 100%;
  box-sizing: border-box;
}
.contacts__container input::-ms-input-placeholder {
  position: absolute;
  top: 7px;
  width: 100%;
  box-sizing: border-box;
}
.contacts__container input::placeholder {
  position: absolute;
  top: 7px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contacts__container .form__row .form-control:focus {
  border-left: 4px solid #355b82;
  background: #00c4c4;
}
.contacts__container .form__row.massage {
  padding-top: 10px;
}
.contacts__container .form__row.massage .form-control {
  width: 100%;
  height: 100px;
}
.contacts__container .buttons-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
}
.contacts__container .buttons-holder button {
  padding-left: 15px;
  background: none;
  border: none;
  color: #686464;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contacts__container .buttons-holder button:hover {
  color: #b9134f;
}
.contacts__container .our-contacts {
  width: 320px;
  padding: 0 5px;
}
.contacts__container .our-contacts__list {
  list-style-type: none;
}
.contacts__container .our-contacts__item {
  padding-top: 15px;
  color: #000;
}
.contacts__container .our-contacts__item a {
  font-weight: 300;
  color: #000;
}
.contacts__container .our-contacts__item p:last-child {
  font-weight: 300;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #262626;
}
.footer-container .copiring {
  text-align: center;
  color: #fff;
  font-family: "raleway";
  font-weight: 300;
}
.footer-container .logo {
  text-align: center;
  font-size: 35px;
  font-family: "pacifico";
  font-weight: 300;
}
.footer-container .madeBy {
  text-align: center;
  color: #fff;
  font-family: "raleway";
  font-weight: 300;
}
.footer-container .madeBy strong {
  color: #F62323;
}

@media screen and (min-width: 426px) {
  .contacts__container {
    padding: 0;
  }

  .contacts__title h2 {
    font-size: 65px;
  }

  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .copiring {
    width: calc(100% / 3);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .logo {
    width: calc(100% / 3);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .madeBy {
    width: calc(100% / 3);
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    min-height: 45rem;
  }

  .contacts__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .contacts__container_form {
    min-width: 30%;
  }

  .contacts__container .our-contacts {
    min-width: 30%;
  }

  .our-contacts__list {
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .contacts__container {
    padding: 0 165px;
  }
}