*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Dosis', sans-serif;
}
.flex-container a{
	text-decoration: none;
}
.flex-container{
	margin: 0 auto;
	background: #fdde7e;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 10px;
	max-width: 1200px;
	min-height: 600px;
	justify-content: space-evenly;
	text-align: center;
}
.flex-block{
	background: #fff;
	padding: 40px;
	margin: 0 0 20px;
	transition: all ease 0.3s;
	min-width: 300px;
	min-height: 440px;
	border-radius: 10px;
	align-self: center;
	box-shadow: 3px 3px 3px gray;
	color: #02995b;
	font-size: 50px;
}
.flex-block:hover{
	transform: scale(1.1);
}
.smoke{
	padding-top: 20px;
}
.cup{
	margin-left: 10px;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 77px;
}
.cup.bronze{
	background-image: url("../src/bronze-cup.png");
}
.cup.gold{
	background-image: url("../src/gold-cup.png");
}
.cup.silver{
	background-image: url("../src/silver-cup.png");
}
.bean{
	padding-top: 15px;
	padding-right: 15px;
}
.flex-block h2, p{
	color: #000;
	font-weight: 200;
	font-size: 56px;
	padding-top: 15px;
}
.flex-block p{
	color: #000;
	font-size: 20px;
	padding-top: 20px;
	max-width: 150px;
	margin: auto;
}