:root {
  --course-fnt-size: 40px;
  --course-fnt-color: red;
  --header-fnt-color: rgb(20, 42, 167);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.playground {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "headerCrs headerCrs"
    "asideCrs mainCrs"
    "footerCrs footerCrs";
  grid-template-columns: 360px 1fr;
  grid-template-rows: 64px 1fr 64px;
  background-color: rgba(218, 193, 193, 0.842);
}
@media (max-width: 800px) {
  .playground {
    grid-template-areas:
      "headerCrs"
      "asideCrs"
      "mainCrs"
      "footerCrs";
    grid-template-columns: 1fr;
    grid-template-rows: 64px max-content 1fr 64px;
  }
}
#header-course {
  grid-area: headerCrs;
  box-shadow: 2px 2px 4px grey;
}
#aside-course {
  grid-area: asideCrs;
  box-shadow: 2px 2px 4px grey;
}
#main-course {
  grid-area: mainCrs;
}
#footer-course {
  grid-area: footerCrs;
  box-shadow: 2px 2px 40px grey;
  color: rgb(79, 225, 145);
  text-align: center;
  line-height: 60px;
  font-size: var(--course-fnt-size);
}
.nav_comp {
  height: 100%;
}
.nav_list {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 100%;
  list-style: none;
  text-align: center;
}
.nav_item a {
  position: relative;
  width: 100px;

  color: var(--header-fnt-color);
  transition: all 0.3s ease-in-out;
}
.nav_item a:hover {
  color: var(--course-fnt-color);
}
.nav_item a::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -3px;
  border-bottom: 3px solid rgb(187, 0, 0);
  transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav_item a:hover::before {
  transform: scaleX(1);
  transform: scaleX(1);
}

.place-course {
  color: var(--course-fnt-color);
  font-size: calc(var(--course-fnt-size) * 2);
  transition: all 0.3s ease-in-out;
}

h2.place-course {
  align-self: center;
  justify-content: center;
  text-align: center;
}
h2.place-course:hover {
  color: aqua;
}

.aut-course {
  display: grid;
  grid-template-columns: 200px 1fr;
  width: 460px;
  grid-template-rows: repeat (3, 2em);
  gap: 8px;
}

form button {
  grid-area: 3 / 2;
  justify-self: end;
  cursor: pointer;
}
