*{
	margin: 0;
	padding: 0;
}
section{
	margin: 0 auto;
	max-width: 1500px;
	min-height: 800px;
	font-family: raleway;
	text-align: center;
	background-color: #b07cf7;
	color: #fff;
}
h1{
	padding-top: 5%;
	display: block;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 50px;
}
p{
	margin: auto;
	padding-top: 2%;
	max-width: 570px;
	display: block;
	font-weight: 300;
}
.dishes{
	display: flex;
	flex-wrap: wrap;
	padding-top: 40px;
	margin-bottom: 20px;
	align-items: stretch;
	justify-content: center;
}
.dish{
	max-width: 370px;
	padding: 15px;
	position: relative;
}
.dish a{
	transition: all 0.3s ease-in-out;
}

.dish a:hover{
	opacity: 0.7;
}
.day{
	top: 45px;
	left: 45px;
	padding: 5px;
	position: absolute;
}
.day-bg{
	position: relative;
}
.day-par{
	position: absolute;
	top: -3px;
	left: 8px;
}
.day-par p{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}
.day-par p:last-child{
	font-size: 20px;
}
.dish-info{
	position: absolute;
	max-width: 80%;
	top: 215px;
	left: 45px;
}
.dish-info p{
	font-weight: bold;
	font-size: 20px;
	text-align: left;
}
.dish-info p:last-child{
	padding-top: 23px;
	font-weight: 300;
	font-size: 14px;
}
.position-1 .gradient{
	min-height: 150px;
	width: 370px;
	position: absolute;
	top: 180px;
	left: 24px;
	background: linear-gradient(0deg, #000, transparent);
}
.position-2 .gradient{
	min-height: 150px;
	width: 370px;
	position: absolute;
	top: 178px;
	left: 19px;
	background: linear-gradient(0deg, #000, transparent);
}
.position-3 .gradient{
	min-height: 150px;
	width: 370px;
	position: absolute;
	top: 178px;
	left: 19px;
	background: linear-gradient(0deg, #000, transparent);
}
button{
	padding: 15px 32px;
	margin-bottom: 120px;
	background: #f72b3b;
	border: none;
	color: #fff;
	font-family: raleway;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
}
