*{
	margin: 0;
	padding: 0;
	font-family: "montserrat", sans-serif;
	box-sizing: border-box;
}
.services-section-width{
	max-width: 100%;
	padding: 0 20px;
}
.section-title{
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-size: 30px;
}
.services-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.service-box{
	max-width: 33%;
	padding: 10px;
	text-align: center;
	color: #000;
	transition: all ease-in-out 0.3s;
}
.service-box p{
	font-size: 14px;
	color: #9d9d9d;
}
.service-icon{
	display: inline-block;
	margin-bottom: 30px;
	margin-top: 16px;
}
.service-box:hover{
	background: #579fa0;
	color: #ddd;
}
.service-title{
font-size: 18px;
margin-bottom: 10px;
}