.content-data {
  margin: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.item-data {
  height: 100px;
  border: 1px solid wheat;
}
.item-data h2,
.item-data h3,
.item-data p {
  color: wheat;
  padding: 0 5px;
}
