header .container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 10vh;
  /* grid-template-columns: 200px; */
  grid-template-columns: 1fr 4fr;
  background: cornflowerblue;
}
.logo {
  max-width: 10%;
}
.navbar__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* justify-items: center; */
  list-style: none;
  margin: 0 50px;
}

.logo .icon-play {
  color: white;
  padding-left: 10px;
  font-size: 30px;
}

.navbar__item {
  display: flex;
}

.navbar__item a {
  color: white;
  text-transform: uppercase;
}

.navbar__item form {
  display: flex;
  align-items: center;
  position: relative;
}

.navbaf__form-button {
  display: flex;
  outline: none !important;
  border: none;
  cursor: pointer;
  background: none;
  position: absolute;
  color: white;
  font-size: 30px;
}

.navbaf__form-item {
  outline: none !important;
  border: none;
  cursor: pointer;
  /* visibility: hidden; */
}
.navbaf__form-item::placeholder {
  color: brown;
}
