*{
	margin: 0;
	padding: 0;
	font-family: "montserrat", sans-serif;
	box-sizing: border-box;
}
.who-we-are{
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
}
.section-title{
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	color: #9ba0a8;
	line-height: 140px;
}
h2{
font-size: 48px;
font-family: "montserrat", sans-serif;
color: rgb(14, 200, 203);
text-transform: uppercase;
line-height: 0.625;
text-align: center;
}
h3{
	font-size: 18px;
	font-family: "montserrat", sans-serif;
	color: rgb(153, 153, 153);
	text-transform: uppercase;
	line-height: 1.667;
	text-align: center;
	padding-top: 30px;
}
ul{
	display: flex;
	margin: 40px auto;
	list-style: none;
}
li{
	padding-top: 40px;
	background: #f7f7f7;
	border: 1px solid #ececec;
}
li:hover{
	background: #0ec8cb;
	color: #FFF;
	transition: all ease-in-out 0.3s;
}
a{
	text-decoration: none;
	color: #000;
}
.service-title{
	text-transform: uppercase;
	padding: 30px 50px;
}
.info-box p{
	color: #808080;
	padding: 10px;
}



